#wrapper
	#main
		div(class='navbar navbar-fixed-top')
			div(class='navbar-inner')
				div(class='container-fluid')
					a(class='brand', href='#') giraph

					form(class='navbar-search pull-left')
						input(type='text', class='search-query', placeholder='Search)

		div(class="current-song-outer")
			div(class="current-song black-15")
				div(class="current-song-name")
					h3(class="song-name") giraphir <br /> get started by logging in:

		#next-song-1-outer(class="next-song-outer changesong")
			#next-song-1(class="next-song songbox black-15")
				div(class="next-song-1-name")
					h3(class="song-name") next1

		#next-song-2-outer(class="next-song-outer changesong")
			#next-song-2(class="next-song songbox black-15")
				div(class="next-song-2-name")
					h3(class="song-name") next2

		#next-song-3-outer(class="next-song-outer changesong")
			#next-song-3(class="next-song songbox black-15")
				div(class="next-song-3-name")
					h3(class="song-name") next3

		#prev-song-1-outer(class="prev-song-outer changesong")
			#prev-song-1(class="prev-song songbox black-15")
				div(class="prev-song-1-name")
					h3(class="song-name") prev1

		#prev-song-2-outer(class="prev-song-outer changesong")
			#prev-song-2(class="prev-song songbox black-15")
				div(class="prev-song-2-name")
					h3(class="song-name") prev2

		#prev-song-3-outer(class="prev-song-outer changesong")
			#prev-song-3(class="prev-song songbox black-15")
				div(class="prev-song-3-name")
					h3(class="song-name") prev3
