!!! 5
html
	head
		title giraph

		link(rel='stylesheet', href='css/bootstrap.css')
		link(rel='stylesheet', href='css/screen.css')
	body
		!= body

	script(src='js/jquery.min.js')
	script(src='js/hack.js')
	script(src='http://ajax.googleapis.com/ajax/libs/swfobject/2.1/swfobject.js')
	script(src='js/jquery.tubular.js')
